
.env
/vendor

/system/storage/cache/*
!/system/storage/cache/index.html
/system/storage/logs/*
!/system/storage/logs/index.html
/system/storage/modification/*
!/system/storage/modification/index.html
/system/storage/upload/*
!/system/storage/upload/index.html
/system/storage/download/*
!/system/storage/download/index.html
/config
/image/catalog/*
/image/cache/*

.DS_Store
.ssh

/.ht*

mails.txt
/vendor.zip
/catalog/model/extension/payment/tinkoff.log
/sitemap*.xml
/sitemaps/*

/.idea/
/market.yml
/feed/*
