.slick-track {
  margin-left: 0 !important;
}
.modal-open {
  overflow: hidden;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1099;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  -o-transform: translate(0, -25%);
  transform: translate(0, -25%);
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  margin-top: 0;
  min-height: 100%;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
.modal-content {
  width: 100%;
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}
.modal-backdrop.fade {
  filter: alpha(opacity=0);
  opacity: 0;
}
.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: 0.5;
}
.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}
.modal-header .close {
  margin-top: -2px;
}
.modal-title {
  margin: 0;
  line-height: 1.42857143;
}
.modal-body {
  position: relative;
  padding: 15px;
}
.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  .modal-sm {
    width: 300px;
  }
}
@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}

.city-modal {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  box-shadow: 0px 4px 50px rgb(168 166 166 / 25%);
  border-radius: 2px;
  position: relative;
  padding: 75px 82px 60px;
  width: 100%;
  overflow: auto;
}
@media (max-width: 767px) {
  .city-modal {
    padding: 45px 32px 50px;
  }
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.dropup .dropdown-menu {
  margin-top: 0;
  margin-bottom: 0.125rem;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-header {
  display: block;
  padding: 0.5rem 1.5rem;
  margin-bottom: 0;
  font-size: 0.875rem;
  color: #6c757d;
  white-space: nowrap;
}

.header__location {
  white-space: nowrap;
}
.header svg {
  fill: #323031;
}

.innerPage .header svg {
  fill: #f2f2f2;
}
.topMenu svg {
  display: block;
}

body .header svg {
  -webkit-transition: fill 0.5s;
  transition: fill 0.5s;
}
body .header .header__container {
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.cartPopup__all {
  text-transform: uppercase;
}
.nav__item_curs:hover::after {
  display: block;
}
a.btn {
  display: inline-block;
  text-align: center;
  text-decoration: none;
}
.contacts__desc,
.contacts__desc a {
  white-space: nowrap;
}
@media (min-width: 1401px) {
  .header__nav {
    display: block !important;
  }
}
.header__logo a,
.header__logo a svg {
  display: block;
}
.review__info {
  width: 100%;
}
.goodsin__pages {
  margin-top: 0;
  margin-bottom: 0;
}
.goodsin__page a {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.productm__addInfo a {
  font-weight: 600;
  color: white;
}
.goodsin {
  width: 100%;
}
.size__checkName {
  width: auto;
  min-width: 30px;
  padding: 0 3px;
  margin: 3px;
}
.size__form {
  flex-wrap: wrap;
  justify-content: start;
}
.size__item {
  height: auto;
}
.contacts__block_map {
  max-width: 650px;
}
.header__search.search {
  min-height: 0;
}
.popup__overlay {
  display: none;
}
form .goodsin__select {
  height: auto;
}
.authForm__input input,
.authForm__input textarea,
.authForm__input select {
  width: 100%;
  background: #ffffff;
  border: 1px solid #828282;
}
.authForm__input textarea,
.authForm__input select {
  border: 1px solid #323031;
  border-radius: 2px;
  padding-left: 21px;
  color: #000;
  font-size: 13px;
  line-height: 18px;
}

.product__top {
  flex-wrap: wrap;
}
.product__top_inner {
  display: flex;
  flex-grow: 1;
}

.product__top_inner.w-full {
  width: 100%;
  justify-content: space-between;
}
.product__label {
  max-width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product__top_inner.w-full .product__label {
  max-width: 33%;
}
.product__label:last-child {
  margin-right: 0;
}
.product__icons {
  justify-content: flex-end;
  margin-left: 10px;
}

.product__icons a {
  display: flex;
  align-items: center;
}
.productin .product__top,
.productm .product__top {
  justify-content: space-between;
}

.filter__label {
  height: auto;
}

.product__icons {
  display: flex;
}
.product__price {
  white-space: nowrap;
}
.product__has {
  text-align: right;
}
.authForm__list svg {
  display: block;
}
input[type="radio"],
input[type="checkbox"] {
  width: auto;
  height: auto;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}
td,
th {
  padding: 0;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
.table > tbody + tbody {
  border-top: 2px solid #ddd;
}
.table .table {
  background-color: #fff;
}
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 5px;
}
.table-bordered {
  border: 1px solid #ddd;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #ddd;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}
.table-hover > tbody > tr:hover {
  background-color: #f5f5f5;
}
table col[class*="col-"] {
  position: static;
  display: table-column;
  float: none;
}
table td[class*="col-"],
table th[class*="col-"] {
  position: static;
  display: table-cell;
  float: none;
}
.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
  background-color: #f5f5f5;
}
.table-hover > tbody > tr > td.active:hover,
.table-hover > tbody > tr > th.active:hover,
.table-hover > tbody > tr.active:hover > td,
.table-hover > tbody > tr:hover > .active,
.table-hover > tbody > tr.active:hover > th {
  background-color: #e8e8e8;
}
.table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th {
  background-color: #dff0d8;
}
.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover,
.table-hover > tbody > tr.success:hover > td,
.table-hover > tbody > tr:hover > .success,
.table-hover > tbody > tr.success:hover > th {
  background-color: #d0e9c6;
}
.table > thead > tr > td.info,
.table > tbody > tr > td.info,
.table > tfoot > tr > td.info,
.table > thead > tr > th.info,
.table > tbody > tr > th.info,
.table > tfoot > tr > th.info,
.table > thead > tr.info > td,
.table > tbody > tr.info > td,
.table > tfoot > tr.info > td,
.table > thead > tr.info > th,
.table > tbody > tr.info > th,
.table > tfoot > tr.info > th {
  background-color: #d9edf7;
}
.table-hover > tbody > tr > td.info:hover,
.table-hover > tbody > tr > th.info:hover,
.table-hover > tbody > tr.info:hover > td,
.table-hover > tbody > tr:hover > .info,
.table-hover > tbody > tr.info:hover > th {
  background-color: #c4e3f3;
}
.table > thead > tr > td.warning,
.table > tbody > tr > td.warning,
.table > tfoot > tr > td.warning,
.table > thead > tr > th.warning,
.table > tbody > tr > th.warning,
.table > tfoot > tr > th.warning,
.table > thead > tr.warning > td,
.table > tbody > tr.warning > td,
.table > tfoot > tr.warning > td,
.table > thead > tr.warning > th,
.table > tbody > tr.warning > th,
.table > tfoot > tr.warning > th {
  background-color: #fcf8e3;
}
.table-hover > tbody > tr > td.warning:hover,
.table-hover > tbody > tr > th.warning:hover,
.table-hover > tbody > tr.warning:hover > td,
.table-hover > tbody > tr:hover > .warning,
.table-hover > tbody > tr.warning:hover > th {
  background-color: #faf2cc;
}
.table > thead > tr > td.danger,
.table > tbody > tr > td.danger,
.table > tfoot > tr > td.danger,
.table > thead > tr > th.danger,
.table > tbody > tr > th.danger,
.table > tfoot > tr > th.danger,
.table > thead > tr.danger > td,
.table > tbody > tr.danger > td,
.table > tfoot > tr.danger > td,
.table > thead > tr.danger > th,
.table > tbody > tr.danger > th,
.table > tfoot > tr.danger > th {
  background-color: #f2dede;
}
.table-hover > tbody > tr > td.danger:hover,
.table-hover > tbody > tr > th.danger:hover,
.table-hover > tbody > tr.danger:hover > td,
.table-hover > tbody > tr:hover > .danger,
.table-hover > tbody > tr.danger:hover > th {
  background-color: #ebcccc;
}
.table-responsive {
  min-height: 0.01%;
  overflow-x: auto;
}
@media screen and (max-width: 767px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
  }
  .table-responsive > .table {
    margin-bottom: 0;
  }
  .table-responsive > .table > thead > tr > th,
  .table-responsive > .table > tbody > tr > th,
  .table-responsive > .table > tfoot > tr > th,
  .table-responsive > .table > thead > tr > td,
  .table-responsive > .table > tbody > tr > td,
  .table-responsive > .table > tfoot > tr > td {
    white-space: nowrap;
  }
  .table-responsive > .table-bordered {
    border: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:first-child,
  .table-responsive > .table-bordered > tbody > tr > th:first-child,
  .table-responsive > .table-bordered > tfoot > tr > th:first-child,
  .table-responsive > .table-bordered > thead > tr > td:first-child,
  .table-responsive > .table-bordered > tbody > tr > td:first-child,
  .table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-left: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:last-child,
  .table-responsive > .table-bordered > tbody > tr > th:last-child,
  .table-responsive > .table-bordered > tfoot > tr > th:last-child,
  .table-responsive > .table-bordered > thead > tr > td:last-child,
  .table-responsive > .table-bordered > tbody > tr > td:last-child,
  .table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-right: 0;
  }
  .table-responsive > .table-bordered > tbody > tr:last-child > th,
  .table-responsive > .table-bordered > tfoot > tr:last-child > th,
  .table-responsive > .table-bordered > tbody > tr:last-child > td,
  .table-responsive > .table-bordered > tfoot > tr:last-child > td {
    border-bottom: 0;
  }
}
.topMenu__item > a {
  position: relative;
  display: block;
}

#wishlist-total,
#compare-total {
  position: absolute;
  left: 100%;
  top: -9px;
  color: #e6000a;
  font-weight: 700;
  font-size: 10px;
}

.productm__addToCart_white a,
.productm__addToCart_comparison a {
  color: #323031;
}
.productm .product__top {
  justify-content: start;
}
.prcolor__item {
  border: 6px solid transparent;
  overflow: hidden;
}
.cart .cartPopup__remove {
  margin-left: 0;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert h4 {
  margin-top: 0;
  color: inherit;
}
.alert .alert-link {
  font-weight: bold;
}
.alert > p,
.alert > ul {
  margin-bottom: 0;
}
.alert > p + p {
  margin-top: 5px;
}
.alert-dismissable,
.alert-dismissible {
  padding-right: 35px;
}
.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}
.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.alert-success hr {
  border-top-color: #c9e2b3;
}
.alert-success .alert-link {
  color: #2b542c;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-info hr {
  border-top-color: #a6e1ec;
}
.alert-info .alert-link {
  color: #245269;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-warning hr {
  border-top-color: #f7e1b5;
}
.alert-warning .alert-link {
  color: #66512c;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert-danger hr {
  border-top-color: #e4b9c0;
}
.alert-danger .alert-link {
  color: #843534;
}

.close {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: 0.2;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=50);
  opacity: 0.5;
}
button.close {
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
}
.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.authorization__forms {
  width: 100%;
}
.cart__form {
}
.panel-body {
  padding: 0.5rem;
}
#accordion .cart {
  margin-bottom: 1rem;
}

.panel-collapse {
  overflow: hidden;
}
.cart__top a {
  color: white;
}

#collapse-shipping-method small {
  display: none;
}
.btn {
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 4px;
}
.product__openFancy {
  left: auto;
}
.productm__addToCart {
  z-index: 1100;
}
.pMain,
.pThumb {
  display: none;
}

.pMain.slick-initialized,
.pThumb.slick-initialized {
  display: block;
}
button.opbtn__buy {
  color: #f2f2f2;
  background-color: #323031;
  text-decoration: none;
  height: 48px;
  line-height: 48px;
  width: 209px;
  text-align: center;
  margin-bottom: 8px;
  border: 1px solid #323031;
}
.compSlider__remove {
  text-transform: none;
  padding-left: 29px;
  padding-right: 63px;
  width: auto;
  margin-left: 17px;
  position: relative;
}
.goodsin .jq-selectbox__dropdown {
  overflow: auto;
}
.ordering .jq-selectbox select {
  display: none;
}
.ordering form .goodsin__select {
  float: none;
}
.ordering form .jq-selectbox__select {
  margin-top: 0;
  height: 41px;
  line-height: 41px;
}
.ordering .goodsin .jq-selectbox__select::after {
  top: 12px;
}
.ordering .goodsin .jq-selectbox__dropdown {
  top: 42px;
}
.ordering .select2-container .select2-selection--single,
.authorization__forms .select2-container .select2-selection--single {
  height: 41px;
  border-radius: 2px;
  border: 1px solid #828282;
}
.ordering select {
  width: 100%;
}
.ordering
  .select2-container--default
  .select2-selection--single
  .select2-selection__rendered,
.authorization__forms
  .select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  line-height: 41px;
  color: #000;
  font-size: 13px;
  padding-left: 21px;
}
.ordering
  .select2-container--default
  .select2-selection--single
  .select2-selection__arrow,
.authorization__forms
  .select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  height: 39px;
}


.delivery .h3, .innerPage .h3 {
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  color: #323031;
  margin-bottom: 10px;
  margin-top: 15px;
}

.size__item .badge {
	display: none;
}
.productAjax .prtabs {
  margin-top: 10px;
}

.productAjax .slick-initialized .pMain__slide{
  height:auto;
}


.h-mobile{
  display:none;
}

@media (min-width: 991px){
  .v-mobile{
    display:none;
  }
  .h-mobile{
    display:block;
  }
}
@media (max-width: 990px){
  .innerHeading, .innerPage h1 {
    margin-top:0;
    margin-bottom:0;
  }.goodsin {
    margin-left: 0px;
}.catalog {
  margin-top: 0px;
}
.goodsin__top{
  flex-wrap:wrap;
  
  
}
.goodsin__top .goodsin__heading{
  order:1;
}
.goodsin__top .goodsin__selectWrapper{
  order:2;
  margin-top: 1rem;
}
.goodsin__top .subcategory-links.v-mobile{
  width:100%;
  order:3;
  margin: 1rem 0 0 0;
}
.goodsin__top .subcategory-links.v-mobile > div{
  display:flex;
}
.goodsin__top .subcategory-links.v-mobile > div a{
  display:block;
  margin:2px;
  margin-right:6px;
}
}
@media (max-width: 532px){

  .goodsin__top .goodsin__heading{
    order:1;
  }
  .goodsin__top .goodsin__selectWrapper{
    order:3;
  }
.goodsin__top .subcategory-links.v-mobile{
  order:2;
}

  .goodsin__top .subcategory-links.v-mobile > div{
    display:block;
  }
}